{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
        <script src="{% static '/css/bootstrap.min.js' %}"></script>
        <script src="{% static '/css/jquery.min.js' %}"></script>
        {% block linkscript %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
